<div class="container">
    <h1>Future improvment</h1>
    <h3>Front-end <i>(Reason)</i></h3>
    <div class="row rowBackground">
        <div class="col-sm-6">
            <p><strong>React</strong></p>
        </div>
        <div class="col-sm-6">
            <p><strong>Important framework</strong></p>
        </div>
    </div>
    <h3>Back-end <i>(Reason)</i></h3>
    <div class="row rowBackground">
        <div class="col-sm-6">
            <p><strong>Node</strong></p>
        </div>
        <div class="col-sm-6">
            <p><strong>To Build API</strong></p>
        </div>
    </div>
    <h3>Other Improvement<i>(Reason)</i></h3>
    <div class="row rowBackground">
        <div class="col-sm-6">
            <p><strong>UDEMY Course - JavaScript Design Patters</strong></p>
        </div>
        <div class="col-sm-6">
            <p><strong>To achive the best practice</strong></p>
        </div>
    </div>
    <br>
</div>