<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #123456; border-radius: 0px; color: whitesmoke;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed=!collapsed" style="border-width: 0px;" >
                <span class="icon-bar" *ngFor="let iconBar of [1,2,3]"></span>

            </button>
            <a class="navbar-brand" style="color: white;"> Laszlo Vari</a>
        </div>
        
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav" style="text-align: center;">
                <li><a style="cursor: pointer;" routerLink="basicinfo" (click)="collapsed = true">CV </a> </li>
                <li class="dropdown" dropdownMenu >
                    <a class="dropdown-toggle" role="button">Projects<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="text-align: center;">
                        <li><a routerLink="projects/national" (click)="collapsed = true">National Sustainable Development Strategy</a></li>
                        <li><a  routerLink="projects/map" (click)="collapsed = true">Interactive Maps</a></li>
                        <li><a  routerLink="projects/tapandlearn" (click)="collapsed = true">Tap and Learn English</a></li>
                        <li><a  routerLink="projects/bueno" (click)="collapsed = true">Bueno 3in1</a></li>
                        <li><a  routerLink="projects/blog" (click)="collapsed = true">Blog and News</a></li>
                    </ul>                    
                </li>
                <li><a style="cursor: pointer;" routerLink="technical" (click)="collapsed = true"> Technical Skills </a> </li>
                <li><a style="cursor: pointer;" routerLink="future" (click)="collapsed = true"> Future Improvemnets </a> </li>
            </ul>
        </div>
    </div>
</nav>
