
<div class="container">
    <a href="https://market.ionicframework.com/starters/bueno-3-in-1"><h1>Bueno 3in1</h1></a>
    <h3>Project description</h3>
    <div class="row rowBackground">
        <div class="col-sm-3">
            <a href="https://market.ionicframework.com/starters/bueno-3-in-1"> <img src="../../../assets/bueno6.png" class="img-responsive"></a>
        </div>
        <div class="col-sm-9">
            <p> 3 in 1. Dictionary, exercise book, and multi-language 
                translation app based on google translate api, for general, and language learning purposes.
            </p>
            <p>This app is developed to contribute learning languages in courses, focused on Spanish language 
                based on personal experiencias and claims. This 3 in 1 starter app is edited to to give a starter 
                structure and reusable elements for further development for other languages or general learning purposes. 
                Including firebase based login system, ngCordova camera, inAppBrowser, drawing and printing options.</p>
        </div>
    </div>
    <h3>Multi-language Translation App</h3>
    <div class="row rowBackground">
        <div class="col-sm-8">
            <p> Complete Google Translate Api service with 40 languages - Picture upload to translations - Saving and storing translation in localstorage
            </p>
        </div>
        <div class="col-sm-2">
            <img src="../../../assets/bueno4.png" class="img-responsive">
        </div>
        <div class="col-sm-2">
            <img src="../../../assets/bueno2.png" class="img-responsive">
        </div>

    </div>
    <br>
    <h3>Dictionary App</h3>
    <div class="row rowBackground">
        <div class="col-sm-3">
            <img src="../../../assets/bueno1.png" class="img-responsive">
        </div>
        <div class="col-sm-9">
            <p> Type and find search service for words 
                - Intelligent word profile, distinguishing the 
                verbs and other words - Setting abilities for 
                nouns - Setting abilities for verbs - 
                Picture upload and change opportunity for every 
                word - In-build translation service - 
                InAppBrowser opportunities to help the conjugation 
                of verbs</p>
        </div>

    </div>
    <h3>Exercise Book App</h3>
    <div class="row rowBackground">
        <div class="col-sm-3">
            <img src="../../../assets/bueno5.png" class="img-responsive">
        </div>
        <div class="col-sm-9">
            <p>  Organized by classes, every class has its 
                own exercise book, with class related text, 
                translation - Including 2 types of exercise book,
                one to type text by keyboard, other to use pen 
                to write on the screen - Side menu divided 
                translation service and dictionary with the 
                class related words - Printing opportunities 
                for both, the typed, and written notes -
                Additional camera opportunity</p>
        </div>
    </div>
    <br>
</div>



