
<div class="container">
    <h1>Tap and Learn Languages</h1>
    <h3>Project description</h3>
    <div class="row rowBackground">
        <div class="col-sm-3">
            <img src="../../../assets/taplearn.png" class="img-responsive">
        </div>
        <div class="col-sm-9">
            <p> After finishing the Web Engieering MOOC course of the Technische Hochshule Mittelhessen
                I deveoped my first (and last) Sencha Touch application. The product was a vocabulary improoving
                game. The development was supervised a language school. <a href="https://www.joshmorony.com/html5-mobile-app-spotlight-tap-and-learn-english/">Here, there can be found
                an interview with the details.</a>
            </p>
        </div>
    </div>
    <h3>The application</h3>
    <div class="row rowBackground">
        <div class="col-sm-3">
            <img src="../../../assets/tapD5.png" class="img-responsive">
        </div>
        <div class="col-sm-9">
            <p> The application was a game developed in 3 different languages. The users could choose a topic from a list and start the game.
                The users could see an image, and 4 letter. The aim was to choose the letter by which the word 
                stated shown on the picture. If the chice was good the applicationloeded a new image, if no, the player
                could choose whethet want to the right answer or just jump to the next one. The application calculated 
                the performance, and stored, hence the user could control his/her improvment. 
            </p>
        </div>
    </div>
    <br>
    <div class="row rowBackground">
            <div class="col-sm-4">
                <img src="../../../assets/tapD.png" class="img-responsive">
            </div>
            <div class="col-sm-4">
                <img src="../../../assets/tapD3.png" class="img-responsive">
            </div>
            <div class="col-sm-4">
                <img src="../../../assets/tapD4.png" class="img-responsive">
            </div>
    </div>
    <br>
</div>



