
<div class="container">
    <h1>Curriculum Vitae</h1>
    <h3>Basic Info</h3>
    <div class="row rowBackground">
        <div class="col-xs-9 center">
            <p><strong>Name: </strong> Laszlo Vari</p>
            <p><strong>Telephone: </strong> 652-68-18-49 </p>
            <p><strong>Email: </strong> laszlovari@yahoo.co.uk</p>
        </div>
        <div class="col-xs-3">
            <img src="./assets/self.jpg" class="img-responsive self">
        </div>
    </div>
    <h3>Education</h3>
    <div class="row rowBackground">
        <div class="col-sm-12">
            <p><strong>2015 - 2019</strong> Universitat de Barcelona <i>Facultat Dret i Ciencia Politica</i>  </p>
            <p><strong>2008 - 2009 </strong> Freie Universität Berlin <i>Otto-Suhr-Institut (ERASMUS Scholarship)</i> </p>
            <p><strong>2007 - 2011 </strong> Corvinus University of Budapest <i>Faculty of International Studies</i></p>
            <p><strong>2000 - 2004 </strong> Kodolányi János University of Applied Sciences<i>Faculty­­ of International Relations</i></p>
        </div>
    </div>
    <h3>Courses</h3>
    <div class="row rowBackground">
        <div class="col-sm-12">
            <p><strong>2018 - 2019</strong> UDEMY <i>Angular - The Complet Guide</i>  </p>
            <p><strong>2017 - 2018 </strong> UDEMY <i>Javascript -Understanding the Wierd Parts</i> </p>
            <p><strong>2017 - 2018 </strong> UDEMY <i>Git a Web Developer Job: Mastering the Modern Workflow</i></p>
            <p><strong>2016 - 2016 </strong> UDEMY<i>Ionic 2 by Example - Create Mobile App in HTML5</i></p>
            <p><strong>2013 - 2014 </strong> Technische Hochscule Mittelhessen (MOOC) <i>Web Engineering</i></p>
            <p><strong>2005 - 2009 </strong> Penthascool<i>HTML-CSS-PHP-MySql, Flash AS2, Flash AS3</i></p>
        </div>
    </div>
    <h3>Professional experience</h3>
    <div class=" rowBackground">
        <div class="col-sm-12">
            <p><strong>2001 - Current</strong> Freelancer <i>Visual Communication, Web Development</i>  </p>
            <p><strong>2018 - Current </strong> Freelancer => UDEMY <i>Media Law: Complet Guide with European Case Law</i> </p>
       
        </div>
    </div>
    <h3>Publications</h3>
    <div class="row rowBackground">
        <div class="col-sm-12">
            <p><strong>2019</strong> World Academy of Science, Engineering and Technology International Journal of Law and Political Sciences Vol:13, No:5, 2019
                <a href="https://www.academia.edu/40045708/Freedom_with_Limitations_The_Nature_of_Free_Expression_in_the_European_Case_Law"> <i> Freedom with Limitations: The Nature of Free Expression in the European Case-Law</i></a>  </p>
            <p><strong>2019 </strong> Információs Társadalom Szaktudományos Folyóirat <a href="https://informaciostarsadalom.infonia.hu/index.php/inftars/article/vie w/104"><i>Szabadság határokkal, avagy európai útmutató a szólásszabadság jogszerű gyakorlásához</i> </a> </p>
       
        </div>
    </div>
    <h3>Grant</h3>
    <div class="row rowBackground">
        <div class="col-sm-12">
            <p><strong>2019</strong> International Research Conference on Media Law in Barcelona: “Best Paper” <i>Freedom with Limitations: The Nature of Free Expression in the European Case-Law</i></p>
        </div>
    </div>
    <h3>Language Skills</h3>
    <div class="row rowBackground">
        <div class="col-xs-6">
            <p style="text-align: center;"><strong>Hungarian: </strong></p>
            <p style="text-align: center;"><strong>Spanish: </strong></p>
            <p style="text-align: center;"><strong>English: </strong></p>
            <p style="text-align: center;"><strong>German: </strong></p>
            <p style="text-align: center;"><strong>Catalan: </strong>  </p>
        </div>
        <div class="col-xs-6">
        <p style="text-align: center;"><strong>Native </strong> </p>
        <p style="text-align: center;"><strong>C1 </strong> </p>
        <p style="text-align: center;"><strong>C1 </strong> </p>
        <p style="text-align: center;"><strong>C1 </strong></p>
        <p style="text-align: center;"><strong>A1 - A2 </strong></p>
        </div>
    </div>
    <br>
</div>
