
<div class="container">
    <h1>Hungarian National Sustainable Strategy</h1>
    <h3>Project description</h3>
    <div class="row rowBackground">
        <div class="col-sm-9">
            <p> Between 2005 and 2006 there was organised the development of the Hungarian
                National Sustainable Strategy, in to the discussion of
                 which the citizens were involeved. To achieve this there was deveolped a website
                 where users could share their opinions about the topics.
            </p>
        </div>
        <div class="col-sm-3">
            <img src="../../../assets/intro4.jpg" class="img-responsive">
        </div>
    </div>
    <h3>The website</h3>
    <div class="row rowBackground">
        <div class="col-sm-3">
            <img src="../../../assets/muhelyvitak1.jpg" class="img-responsive">
        </div>
        <div class="col-sm-9">
            <p>The website was divide the 19 main topics, all of which had ow section with the 
                oportunity to send messages, comments, and evaluation by the registrated users.
                These information was given to site, and was readable by others. The web site was deveolped
                in HTML, using CSS for decoration, the communication panel, where users could give
                their opinions was animated by Flash AS2. Th data was stored in a MySql Back end and the 
                communication was organised by PHP.
            </p>
        </div>
    </div>
    <h3>Responsibiliy</h3>
    <div class="row rowBackground">
            <div class="col-sm-9">
                <p> My responsibility was to design the online discussion, develop 
                    the suitable website, and maintain the server and the website during the given phase.
                </p>
            </div>
            <div class="col-sm-3">
                <img src="../../../assets/muhelyvitak2.jpg" class="img-responsive">
            </div>
    </div>
    <br>
</div>



