
<div class="container">
    <h1>Technical Skills</h1>
    <h3>Front-end <i>(Basic / Independent / Proficient)</i></h3>
    <div class="row rowBackground">
        <div class="col-sm-6">
            <p><strong>HTML5</strong></p>
            <hr>
            <p><strong>CSS</strong></p>
            <hr>
            <p><strong>JavaScript</strong></p>
            <hr>
            <p><strong>TypeScript</strong></p>
            <hr>
            <p><strong>JQuery</strong></p>
            <hr>
            <p><strong>Bootstrap</strong></p>
            <hr>
            <p><strong>Ionic</strong></p>
            <hr>
            <p><strong>Angular</strong></p>
        </div>
        <div class="col-sm-6">
            <p><strong>Independent</strong></p>
            <hr>
            <p><strong>Independent</strong></p>
            <hr>
            <p><strong>Independent </strong></p>
            <hr>
            <p><strong>Basic </strong></p>
            <hr>
            <p><strong>Basic</strong></p>
            <hr>
            <p><strong>Independent</strong></p>
            <hr>
            <p><strong>Independent</strong></p>
            <hr>
            <p><strong>Independent</strong></p>
        </div>
    </div>
    <h3>Back-end <i>(Basic / Independent / Proficient)</i></h3>
    <div class="row rowBackground">
        <div class="col-sm-6">
            <p><strong>PHP</strong></p>
            <hr>
            <p><strong>MySql</strong></p>
        </div>
        <div class="col-sm-6">
            <p><strong>Basic</strong></p>
            <hr>
            <p><strong>Basic</strong></p>
        </div>
    </div>
    <h3>Other Technologies <i>(Basic / Independent / Proficient)</i></h3>
    <div class="row rowBackground">
        <div class="col-sm-6">
            <p><strong>GIT</strong></p>
            <hr>
            <p><strong>Unit testing in Angular</strong></p>
        </div>
        <div class="col-sm-6">
            <p><strong>Basic</strong></p>
            <hr>
            <p><strong>Basic</strong></p>
        </div>
    </div>
    <br>
</div>


