<
    <div class="container">
        <h1>Blog and News</h1>
        <h3>Front end</h3>
        <div class="row rowBackground">
            <div class="col-xs-9 center">
                <p><strong>Name: </strong> Laszlo Vari</p>
                <p><strong>Telephone: </strong> 652-68-18-49 </p>
                <p><strong>Email: </strong> laszlovari@yahoo.co.uk</p>
            </div>
            <div class="col-xs-3">
                
            </div>
        </div>
        <h3>Back end</h3>
        <div class="row rowBackground">
            <div class="col-sm-12">
                <p><strong>2015 - 2019</strong> Universitat de Barcelona <i>Facultat Dret i Ciencia Politica</i>  </p>
                <p><strong>2008 - 2009 </strong> Freie Universität Berlin <i>Otto-Suhr-Institut (ERASMUS Scholarship)</i> </p>
                <p><strong>2007 - 2011 </strong> Corvinus University of Budapest <i>Faculty of International Studies</i></p>
                <p><strong>2000 - 2004 </strong> Kodolányi János University of Applied Sciences<i>Faculty­­ of International Relations</i></p>
            </div>
        </div>
        <h3>Other Development</h3>
        <div class="row rowBackground">
            <div class="col-sm-12">
                <p><strong>2018 - 2019</strong> UDEMY <i>Angular - The Complet Guide</i>  </p>
                <p><strong>2017 - 2018 </strong> UDEMY <i>Javascript -Understanding the Wierd Parts</i> </p>
                <p><strong>2017 - 2018 </strong> UDEMY <i>Git a Web Developer Job: Mastering the Modern Workflow</i></p>
                <p><strong>2016 - 2016 </strong> UDEMY<i>Ionic 2 by Example - Create Mobile App in HTML5</i></p>
                <p><strong>2013 - 2014 </strong> Technische Hochscule Mittelhessen (MOOC) <i>Web Engineering</i></p>
                <p><strong>2005 - 2009 </strong> Penthascool<i>HTML-CSS-PHP-MySql, Flash AS2, Flash AS3</i></p>
            </div>
        </div>
    </div>
    
    
