
<div class="container">
    <h1>Interactive maps</h1>
    <h3>Project description</h3>
    <div class="row rowBackground">
        <div class="col-sm-12">
            <p> From 2010 I have started develop interactive maps for my university
                by which the student can better understand international processes
                political decisions, and geopolitics. Because of the death death of the Flash 
                technology, the project ended in 2012, however 4 maps is still available, eventhough
                some functions do not work correctly because of the lack of MySql back-end.
            </p>
        </div>
    </div>
    <a  href="https://varilaz.github.io/katszov/" style="cursor: pointer;"><h3>International Alliance System During the Cold War</h3></a>
    <div class="row rowBackground">
        <div class="col-sm-4">
            <a  href="https://varilaz.github.io/katszov/" style="cursor: pointer;"><img src="../../../assets/katszov.png" class="img-responsive"></a>
        </div>
        <div class="col-sm-8">
            <p>
               This map was deveoped by AS3 using MySql back-end and PHP communication. The users can
               change differnt map view and get information even about geopolitical logic,
                and visualize statistical data. Users even can print their ajusted map. 
            </p>
        </div>
    </div>
    <a  href="https://varilaz.github.io/ikervalsag/" style="cursor: pointer;"><h3>The twin crisis in 1956</h3></a>
    <div class="row rowBackground">
            <div class="col-sm-8">
                <p> This map was developed in AS3 communicating with MySql back-end
                    using PHP. This visualize the main turning point of the cold war, leting users 
                    to go step by step on the event, and creat an individual map and print it.
                </p>
            </div>
            <div class="col-sm-4">
                <a  href="https://varilaz.github.io/ikervalsag/" style="cursor: pointer;"><img src="../../../assets/Iker.png" class="img-responsive"></a>
            </div>
    </div>
    <a  href="https://varilaz.github.io/eu-int/" style="cursor: pointer;"><h3>The European Institutions During the Cold War</h3></a>
    <div class="row rowBackground">
            <div class="col-sm-8">
                <p> This map was developed in AS3 communicating with MySql back-end
                    using PHP. This visualize how the European continent was diveded by institution, leting users 
                    to go step by step on the event, and creat an individual map and print it.
                </p>
            </div>
            <div class="col-sm-4">
                <a  href="https://varilaz.github.io/eu-int/" style="cursor: pointer;"><img src="../../../assets/euInt.png" class="img-responsive"></a>
            </div>
    </div>
    <a  href="https://varilaz.github.io/archeology/" style="cursor: pointer;"><h3>Archeological interactive map</h3></a>
    <div class="row rowBackground">
        <div class="col-sm-4">
            <a  href="https://varilaz.github.io/archeology/" style="cursor: pointer;"><img src="../../../assets/arch.png" class="img-responsive"></a>
        </div>
        <div class="col-sm-8">
            <p>
               This map was deveoped by AS3 using MySql back-end and PHP communication. The map was a conlusion
               of a decade long excavation. The map help the users to visualize the what the scientist found
               hence how the people lived 3500 years ago.
            </p>
        </div>
    </div>
    <br>
</div>



